<div class="sidebar">
    <div class="photo">
        <img src="img/img.png" alt="Profile Photo">
    </div>

    <section class="references">
        <div class="section-title">
            <h2><i class="fa-solid fa-users"></i><strong>REFERENCES</strong><i class="arrow fa-solid fa-chevron-right"></i></h2>
        </div>
        <div class="section-content">
            <div class="ref">
                <h4>Darwin B. Magana</h4>
                <p class="address">2813 Shobe Lane Mancos, CO.</p>
                <p>Tel: +1-970-533-3393</p>
                <p>Email: www.yourwebsite.com</p>
            </div>

            <div class="ref">
                <h4>Robert J. Belvin</h4>
                <p class="address">2119 Fairfax Drive Newark, NJ.</p>
                <p>Tel: +1-908-987-5103</p>
                <p>Email: www.yourwebsite.com</p>
            </div>
        </div>
    </section>

    <section class="skills">
        <div class="section-title">
            <h2><i class="fa-solid fa-chart-pie"></i><strong>SKILLS</strong></h2>

        </div>
        <div id="skillsContainer" class="pad"></div>
    </section>

    <section class="pad-2">
        <div class="section-title">
            <h2><i class="fa-solid fa-earth"></i><strong>LANGUAGES</strong></h2>
        </div>
        <div class="row justify-content-center text-center align-items-center pad-3"></div>
    </section>

    <section class="hobbies">
        <div class="section-title">
            <h2><i class="fa-solid fa-flag"></i><strong>HOBBIES</strong></h2>
        </div>
        <div id="hobbiesContainer" class="pad"></div>
    </section>
</div>