<div class="sidebar">
    <div class="photo">
        <img src="img/img.png" alt="Profile Photo">
    </div>

    <section class="references">
        <div class="section-title">
            <i class="fa-solid fa-users"></i>
            <h3><strong>REFERENCES</strong></h3>
        </div>

        <div class="ref">
            <h4>Darwin B. Magana</h4>
            <p class="address">2813 Shobe Lane Mancos, CO.</p>
            <p>Tel: +1-970-533-3393</p>
            <p>Email: www.yourwebsite.com</p>
        </div>

        <div class="ref">
            <h4>Robert J. Belvin</h4>
            <p class="address">2119 Fairfax Drive Newark, NJ.</p>
            <p>Tel: +1-908-987-5103</p>
            <p>Email: www.yourwebsite.com</p>
        </div>
    </section>

    <section class="skills">
        <div class="section-title">
            <i class="fa-solid fa-chart-pie"></i>
            <h3>SKILLS</h3>
        </div>

        <div class="skill">
            <label>Adobe Photoshop</label>
            <input type="range" min="0" max="100" value="50" class="slider" disabled>
        </div>

        <div class="skill">
            <label>Adobe Illustrator</label>
            <input type="range" min="0" max="100" value="50" class="slider" disabled>
        </div>

        <div class="skill">
            <label>Microsoft Word</label>
            <input type="range" min="0" max="100" value="50" class="slider" disabled>
        </div>

        <div class="skill">
            <label>Microsoft PowerPoint</label>
            <input type="range" min="0" max="100" value="50" class="slider" disabled>
        </div>

        <div class="skill">
            <label>HTML-5/CSS-3</label>
            <input type="range" min="0" max="100" value="50" class="slider" disabled>
        </div>
    </section>
</div>