<div class="row">
    <header>
        <h1><span>KEVIN C.</span> SILVA</h1>
        <div class="name-line">
            <h2>GRAPHIC & WEB DESIGNER</h2>
            <div class="line"></div>
        </div>
    </header>

    <div class="info">
        <div class="info-box full">
            <i class="fa-solid fa-location-dot"></i>
            <p><strong>769 Prudence Street Lincoln Park, MI 48146</strong></p>
        </div>

        <div class="info-row">
            <div class="info-box half">
                <i class="fa-solid fa-phone"></i>
                <p><strong>+1-718-310-5588</strong></p>
            </div>
            <div class="info-box half">
                <i class="fa-solid fa-globe"></i>
                <p><em>www.yourwebsite.com</em></p>
            </div>
        </div>
    </div>


    <section class="about">
        <div class="section-title">
            <i class="fa-solid fa-user"></i>
            <h3>ABOUT ME</h3>
        </div>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            <strong><em>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</em></strong>
            When an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting.
        </p>
    </section>
</div>